*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $black-500;
}
p {
  line-height: 24px;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}
li {
  list-style: none;
}
hr {
  height: 0.7px;
  background: rgba(0, 0, 0, 0.1);
  border-width: 0;
  margin-bottom: 16px;
}