
  .family-primary {
    font-family: $family-primary;
  }
  .family-secondary {
    font-family: $family-secondary;
  }
  .family-tertiary {
    font-family: $family-tertiary;
  }

  .text-color-black {
    color: #000;
  }
  .text-color-white{
    color: #fff;
  }
  .text-color-black-100 {
    color: $black-100;
  }
  .text-color-black-200 {
    color: $black-200;
  }
  .text-color-black-400 {
    color: $black-400;
  }
  .text-color-black-600 {
    color: $black-600;
  }
  .text-color-blue-100 {
    color: $blue-100;
  }
  .text-color-blue-200 {
    color: $blue-200;
  }
  .text-color-blue-400 {
    color: $blue-400;
  }
  
  .text-right-sm {
    @media(min-width: 769px){
      text-align: right;
    }
  }
  .ml-auto-sm{
    @media(min-width: 769px){
      margin-left: auto;
    }
  }
  .text-center {
    text-align: center;
  }
  .text-underline {
    text-decoration: underline;
  }

  .fw-400 {
    font-weight: 400;
  }
  .fw-500 {
    font-weight: 500;
  }
  .fw-700 {
    font-weight: 700;
  }
  .fw-900 {
    font-weight: 900;
  }

  .fs-10 {
    font-size: 10px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-16 {
    font-size: 16px;
  }
  .fs-18 {
    font-size: 18px;
  }
  .fs-24 {
    font-size: 24px;
  }
  .fs-32 {
    font-size: 32px;
  }
  .fs-39 {
    font-size: 39px;
  }

  .d-grid {
    display: grid;
  }
  .d-inline-block{
    display: inline-block;
  }
  .is-flex {
    display: flex;
  }
  .is-align-items-center {
    align-items: center;
  }
  .is-justify-content-flex-end {
    justify-content: flex-end;
  }
  .is-justify-content-space-between {
    justify-content: space-between;
  }
  .is-justify-content-center{
    justify-content: center;
  }
 
  .border-bottom {
    border-bottom: 2px solid $light-grey;
    padding-bottom: 0.7rem;
  }
  .border-bottom-yellow {
    border-bottom: 2px solid $yellow-100;
    padding-bottom: 0.4rem;
  }

  .mx-auto {
    margin: 0 auto;
  }
  .w-50{
    max-width: 50%;
  }