$blue-100: #1285ff;
$blue-200: #014eff;
$blue-300: #065fd4;
$blue-400: #2478cc;
$yellow-100: #ffc700;
$green: #49a55d;
$green-100: #0C9C00;
$black-100: #595e67;
$black-200: #606060;
$black-300: #464e5b;
$black-400: #393939;
$black-500: #0f131a;
$black-600: #030303;
$light-grey: #f4f4f4;
$family-primary: "Roboto", sans-serif;
$family-secondary: "Poppins", sans-serif;
$family-tertiary: "Inter", sans-serif;